*{
    margin: 0;
    padding: 0;
}
a{
    font-family: sans-serif;
    text-decoration: none;
}

.img{
    margin-top: 10px;
    width: 220px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: animacaoy;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
header{
    background-color: #000000;
    padding-inline: 16px;
}
nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 46px;
}
.nav-list{
    display: none;
    gap: 32px;
    list-style: none;

}
.nav-list a{
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
    
}
.hero{
    max-width: 1280px;
    margin-inline: auto;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
    gap: 70px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    background-color: center / cover no-repeat url(Back.jpg);
}
.algo{
    padding: 2vh 24%;
    background-color: rgb(44, 44, 44);
    color: #fff;
    animation-name: animacaod;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #ffffff;
    cursor: pointer;
}
.hamburger::before, .hamburger::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 750px){
    body{
        background: center / cover no-repeat url(Back.jpg);
    }

    .algo{
        border-radius: 30px;
    }

    .hamburger{
        display: block;
        z-index: 1;
    }
    .nav-list{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: center / cover no-repeat url(Back.jpg);

        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    /* ESTILOS ATIVOS */
    
    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a{
        opacity: 1;
    }

    .nav.active .hamburger{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .hamburger::before{
        transform: rotate(135deg);
    }
    .nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

@keyframes animacaoy{

    0% {width: 240px; padding-left: 10px;}
    50% {width: 240px; padding-left: 30px;}
    100% {width: 240px; padding-left: 10px;}

}
@keyframes animacaod{

    0% {box-shadow: 0px 0px 3px 0px #ffffff;}
    50% {box-shadow: 0px -1px 20px 0px #ffffff;}
    100% {box-shadow: 0px 0px 3px 0px #ffffff;}
}